<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lacrose.lc.lacrose">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.lacrose.lc.lacrose.Util.MainActivity" />
        <activity
            android:name="com.lacrose.lc.lacrose.LoginActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@style/AppThemeFullscreen"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lacrose.lc.lacrose.ScanActivity"
            android:theme="@style/AppThemeFullscreen" />
        <activity
            android:name="com.lacrose.lc.lacrose.ScanAddCorpoActivity"
            android:theme="@style/AppThemeFullscreen" />
        <activity
            android:name="com.lacrose.lc.lacrose.AboutActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/about_title"
            android:parentActivityName="com.lacrose.lc.lacrose.LoginActivity" />
        <activity
            android:name="com.lacrose.lc.lacrose.TermsActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/terms_of_user_title"
            android:parentActivityName="com.lacrose.lc.lacrose.LoginActivity" />
        <activity
            android:name="com.lacrose.lc.lacrose.WorkActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/works" />
        <activity
            android:name="com.lacrose.lc.lacrose.HomeActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:parentActivityName="com.lacrose.lc.lacrose.WorkActivity" />
        <activity
            android:name="com.lacrose.lc.lacrose.CorpoMoldActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/mold"
            android:parentActivityName="com.lacrose.lc.lacrose.ChooseMoldActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.lacrose.lc.lacrose.RupturaCorpoActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/ruptura"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.lacrose.lc.lacrose.RupturaBlocoActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/ruptura"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.lacrose.lc.lacrose.EditRupturaBlocoActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/ruptura"
            android:parentActivityName="com.lacrose.lc.lacrose.RupturaBlocoListActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.lacrose.lc.lacrose.EditRupturaCorpoActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/ruptura"
            android:parentActivityName="com.lacrose.lc.lacrose.RupturaCorpoListActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.lacrose.lc.lacrose.EditRupturaPavimentoActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/ruptura"
            android:parentActivityName="com.lacrose.lc.lacrose.RupturaPavimentoListActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.lacrose.lc.lacrose.EditRupturaPrismaActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/ruptura"
            android:parentActivityName="com.lacrose.lc.lacrose.RupturaPrismasListActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.lacrose.lc.lacrose.RupturaPrismaActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/ruptura"
            android:parentActivityName="com.lacrose.lc.lacrose.LotesActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.lacrose.lc.lacrose.RupturaPavimentoActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/ruptura"
            android:parentActivityName="com.lacrose.lc.lacrose.LotesActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.lacrose.lc.lacrose.LotesActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/lote_label"
            android:parentActivityName="com.lacrose.lc.lacrose.HomeActivity" />
        <activity
            android:name="com.lacrose.lc.lacrose.RupturaCorpoListActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/list_ruptura_label" />
        <activity
            android:name="com.lacrose.lc.lacrose.RupturaBlocoListActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/list_bloco_label" />
        <activity
            android:name="com.lacrose.lc.lacrose.RupturaPrismasListActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/list_prismas_label" />
        <activity
            android:name="com.lacrose.lc.lacrose.RupturaPavimentoListActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/list_pavimento_label" />
        <activity
            android:name="com.lacrose.lc.lacrose.BlocoMoldActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/moldagem_bloco_label"
            android:windowSoftInputMode="stateHidden"
            android:parentActivityName="com.lacrose.lc.lacrose.ChooseMoldActivity"/>
        <activity
            android:name="com.lacrose.lc.lacrose.PrismaMoldActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/moldagem_prisma_label"
            android:windowSoftInputMode="stateHidden"
            android:parentActivityName="com.lacrose.lc.lacrose.ChooseMoldActivity"/>
        <activity
            android:name="com.lacrose.lc.lacrose.PavimentoMoldActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/moldagem_pavimento_label"
            android:windowSoftInputMode="stateHidden"
            android:parentActivityName="com.lacrose.lc.lacrose.ChooseMoldActivity"/>
        <activity
            android:name="com.lacrose.lc.lacrose.ChooseMoldActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/moldagem_type_label"
            android:windowSoftInputMode="stateHidden"
            android:parentActivityName="com.lacrose.lc.lacrose.ChooseMoldActivity" />
    </application>

</manifest>